.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: skyblue;
    color: black; 
  }
  
  .welcome-text h1 {
    font-size: 2rem; 
  }
  
  .welcome-text p {
    margin-top: 10px; 
  }
  